In [22]:
###PARA EXECUTAR AS CELULAS DO ZERO, DESCOMENTE ESSES COMANDOS E EXECUTE A CELULA PRIMEIRO
import shutil

#shutil.rmtree("ml")
#shutil.rmtree("data_parquet")

In [1]:
import os
from delta.tables import *
from delta import *
from pyspark.sql.functions import *
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
import json
import requests

#Inicialização do ambiente Spark
#Configuração necessária para utilização do Delta Lake
builder = SparkSession.builder.appName("MyApp") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-33da8799-d4da-4ec4-ac14-08325bb50f54;1.0
	confs: [default]
	found io.delta#delta-core_2.12;1.1.0 in central
	found org.antlr#antlr4-runtime;4.8 in central
	found org.codehaus.jackson#jackson-core-asl;1.9.13 in central
downloading https://repo1.maven.org/maven2/io/delta/delta-core_2.12/1.1.0/delta-core_2.12-1.1.0.jar ...
	[SUCCESSFUL ] io.delta#delta-core_2.12;1.1.0!delta-core_2.12.jar (1511ms)
downloading https://repo1.maven.org/maven2/org/antlr/antlr4-runtime/4.8/antlr4-runtime-4.8.jar ...
	[SUCCESSFUL ] org.antlr#antlr4-runtime;4.8!antlr4-runtime.jar (253ms)
downloading https://repo1.maven.org/maven2/org/codehaus/jackson/jackson-core-asl/1.9.13/jackson-core-asl-1.9.13.jar ...
	[SUCCESSFUL ] org.codehaus.jackson#jackson-core-asl;1.9.13!jackson-core-asl.jar (171ms)
:: resolution report :: resolve 6154ms :: artifacts dl 1941ms
	:: modules in use:
	io.delta#delta-core_2.12;1.1.0 from central in [default]
	org.antlr#antlr4-runtime;4.8 from central in [default]
	org.codehaus.jackson#jackson-core-asl;1.9.13 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   3   |   3   |   0   ||   3   |   3   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-33da8799-d4da-4ec4-ac14-08325bb50f54
	confs: [default]
	3 artifacts copied, 0 already retrieved (2841kB/9ms)
22/08/10 04:15:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Atividade 1: Ingestão e normalização dos dados

In [2]:
#Abertura dos dados iniciais referentes aos pedidos
raw_path = "pedidos.csv"
raw_df = spark.read\
                .format("csv")\
                .option("inferSchema","true")\
                .option("header","true")\
                .load(raw_path)

In [3]:
raw_df.show(10)

+---+---------+---------+--------------------+------------+-------------------+---------------+-----+
| id|     nome|sobrenome|               email|valor_pedido|        data_pedido|        tipo_cc|id_ip|
+---+---------+---------+--------------------+------------+-------------------+---------------+-----+
|  1|Aleksandr| Crighton|acrighton0@instag...|      $71.31|2021-08-21 14:18:35|            jcb|    1|
|  2|      Tad|   Arangy|tarangy1@studiopr...|      $28.12|2021-10-28 22:44:27|        maestro|    2|
|  3|     Wake|   Samart|   wsamart2@ning.com|     $148.18|2022-06-26 22:33:37|  visa-electron|    3|
|  4|    Svend|  Morfell|smorfell3@arizona...|     $148.74|2021-12-23 15:19:03|            jcb|    4|
|  5|   Phoebe|Wealthall|pwealthall4@smugm...|     $146.84|2022-04-16 23:08:17|        maestro|    5|
|  6|    Sayre|   Ashbey|sashbey5@google.c...|     $118.62|2022-06-14 22:24:33|            jcb|    6|
|  7|      Dun|   Breens|dbreens6@seattlet...|     $136.92|2021-09-24 17:54:06|  visa-electron|    7|
|  8|    Reine|   Noakes|rnoakes7@nbcnews.com|      $53.63|2022-04-01 04:13:58|       bankcard|    8|
|  9|   Flossy|  Raynton|fraynton8@telegra...|     $144.20|2021-09-10 23:26:33|            jcb|    9|
| 10|   Marjie|Errington|merrington9@unice...|      $87.56|2021-12-18 00:34:57|americanexpress|   10|
+---+---------+---------+--------------------+------------+-------------------+---------------+-----+
only showing top 10 rows

In [4]:
#Conversão dos dados para Parquet
raw_df.select("*").write.format("parquet").save("data_parquet")
df = spark.read.parquet("data_parquet")

In [5]:
# Cria os diretórios referentes as camadas do pipeline
os.mkdir('ml')
os.mkdir("ml/bronze")
os.mkdir("ml/silver")
os.mkdir("ml/gold")

In [6]:
# Path da Layer Bronze
DELTALAKE_BRONZE_PATH = "ml/bronze"

# Inicializa a tabela delta bronze com os dados inciais
df.write.format('delta').mode('overwrite').save(DELTALAKE_BRONZE_PATH)

# Registra a tabela SQL no banco de dados
spark.sql(f"CREATE TABLE bronze USING delta LOCATION '{DELTALAKE_BRONZE_PATH}'") 

# Leitura da tabela
request_stats = spark.read.format("delta").load(DELTALAKE_BRONZE_PATH)

display(request_stats)

DataFrame[id: int, nome: string, sobrenome: string, email: string, valor_pedido: string, data_pedido: string, tipo_cc: string, id_ip: int]

In [7]:
request_stats.show(10)

+---+---------+---------+--------------------+------------+-------------------+---------------+-----+
| id|     nome|sobrenome|               email|valor_pedido|        data_pedido|        tipo_cc|id_ip|
+---+---------+---------+--------------------+------------+-------------------+---------------+-----+
|  1|Aleksandr| Crighton|acrighton0@instag...|      $71.31|2021-08-21 14:18:35|            jcb|    1|
|  2|      Tad|   Arangy|tarangy1@studiopr...|      $28.12|2021-10-28 22:44:27|        maestro|    2|
|  3|     Wake|   Samart|   wsamart2@ning.com|     $148.18|2022-06-26 22:33:37|  visa-electron|    3|
|  4|    Svend|  Morfell|smorfell3@arizona...|     $148.74|2021-12-23 15:19:03|            jcb|    4|
|  5|   Phoebe|Wealthall|pwealthall4@smugm...|     $146.84|2022-04-16 23:08:17|        maestro|    5|
|  6|    Sayre|   Ashbey|sashbey5@google.c...|     $118.62|2022-06-14 22:24:33|            jcb|    6|
|  7|      Dun|   Breens|dbreens6@seattlet...|     $136.92|2021-09-24 17:54:06|  visa-electron|    7|
|  8|    Reine|   Noakes|rnoakes7@nbcnews.com|      $53.63|2022-04-01 04:13:58|       bankcard|    8|
|  9|   Flossy|  Raynton|fraynton8@telegra...|     $144.20|2021-09-10 23:26:33|            jcb|    9|
| 10|   Marjie|Errington|merrington9@unice...|      $87.56|2021-12-18 00:34:57|americanexpress|   10|
+---+---------+---------+--------------------+------------+-------------------+---------------+-----+
only showing top 10 rows

In [8]:
#Seleção das colunas para concatenação e abertura de nova coluna com os dados concatenados
concat_col_list = ['nome','sobrenome']
request_stats = request_stats.withColumn('nome_completo',concat_ws('_',*concat_col_list))

#Remoção das colunas concatenadas
request_stats = request_stats.drop("nome").drop("sobrenome")

#Reorganização da tabela 
request_stats.select("id","nome_completo","email","valor_pedido","data_pedido","tipo_cc","id_ip")
request_stats = request_stats.select("id","nome_completo","email","valor_pedido","data_pedido","tipo_cc","id_ip")

In [9]:
request_stats.show(10)

+---+------------------+--------------------+------------+-------------------+---------------+-----+
| id|     nome_completo|               email|valor_pedido|        data_pedido|        tipo_cc|id_ip|
+---+------------------+--------------------+------------+-------------------+---------------+-----+
|  1|Aleksandr_Crighton|acrighton0@instag...|      $71.31|2021-08-21 14:18:35|            jcb|    1|
|  2|        Tad_Arangy|tarangy1@studiopr...|      $28.12|2021-10-28 22:44:27|        maestro|    2|
|  3|       Wake_Samart|   wsamart2@ning.com|     $148.18|2022-06-26 22:33:37|  visa-electron|    3|
|  4|     Svend_Morfell|smorfell3@arizona...|     $148.74|2021-12-23 15:19:03|            jcb|    4|
|  5|  Phoebe_Wealthall|pwealthall4@smugm...|     $146.84|2022-04-16 23:08:17|        maestro|    5|
|  6|      Sayre_Ashbey|sashbey5@google.c...|     $118.62|2022-06-14 22:24:33|            jcb|    6|
|  7|        Dun_Breens|dbreens6@seattlet...|     $136.92|2021-09-24 17:54:06|  visa-electron|    7|
|  8|      Reine_Noakes|rnoakes7@nbcnews.com|      $53.63|2022-04-01 04:13:58|       bankcard|    8|
|  9|    Flossy_Raynton|fraynton8@telegra...|     $144.20|2021-09-10 23:26:33|            jcb|    9|
| 10|  Marjie_Errington|merrington9@unice...|      $87.56|2021-12-18 00:34:57|americanexpress|   10|
+---+------------------+--------------------+------------+-------------------+---------------+-----+
only showing top 10 rows

In [10]:
# Remoção do caractere "$" da coluna de valores do pedido e conversão para tipo double
# Conversão do tipo da coluna de datas para timestamp
request_stats = request_stats.withColumn('valor_pedido', regexp_replace('valor_pedido', '\$','').cast('double'))
request_stats = request_stats.withColumn('data_pedido', to_timestamp("data_pedido", 'yyyy-MM-dd HH:mm:ss'))

In [11]:
request_stats.show(10)
display(request_stats)

+---+------------------+--------------------+------------+-------------------+---------------+-----+
| id|     nome_completo|               email|valor_pedido|        data_pedido|        tipo_cc|id_ip|
+---+------------------+--------------------+------------+-------------------+---------------+-----+
|  1|Aleksandr_Crighton|acrighton0@instag...|       71.31|2021-08-21 14:18:35|            jcb|    1|
|  2|        Tad_Arangy|tarangy1@studiopr...|       28.12|2021-10-28 22:44:27|        maestro|    2|
|  3|       Wake_Samart|   wsamart2@ning.com|      148.18|2022-06-26 22:33:37|  visa-electron|    3|
|  4|     Svend_Morfell|smorfell3@arizona...|      148.74|2021-12-23 15:19:03|            jcb|    4|
|  5|  Phoebe_Wealthall|pwealthall4@smugm...|      146.84|2022-04-16 23:08:17|        maestro|    5|
|  6|      Sayre_Ashbey|sashbey5@google.c...|      118.62|2022-06-14 22:24:33|            jcb|    6|
|  7|        Dun_Breens|dbreens6@seattlet...|      136.92|2021-09-24 17:54:06|  visa-electron|    7|
|  8|      Reine_Noakes|rnoakes7@nbcnews.com|       53.63|2022-04-01 04:13:58|       bankcard|    8|
|  9|    Flossy_Raynton|fraynton8@telegra...|       144.2|2021-09-10 23:26:33|            jcb|    9|
| 10|  Marjie_Errington|merrington9@unice...|       87.56|2021-12-18 00:34:57|americanexpress|   10|
+---+------------------+--------------------+------------+-------------------+---------------+-----+
only showing top 10 rows

DataFrame[id: int, nome_completo: string, email: string, valor_pedido: double, data_pedido: timestamp, tipo_cc: string, id_ip: int]

In [12]:
# Path da layer Silver
DELTALAKE_SILVER_PATH = "ml/silver"

# Inicializa a tabela delta silver com os dados inciais
request_stats.write.format('delta').mode('overwrite').save(DELTALAKE_SILVER_PATH)

# Registra a tabela SQL no banco de dados
spark.sql("CREATE TABLE if not exists silver USING DELTA LOCATION '" + DELTALAKE_SILVER_PATH + "'")

# Leitura da tabela
request_stats = spark.read.format("delta").load(DELTALAKE_SILVER_PATH)

display(request_stats)

DataFrame[id: int, nome_completo: string, email: string, valor_pedido: double, data_pedido: timestamp, tipo_cc: string, id_ip: int]

Atividade 2: Enriquecimento dos dados

In [13]:
#Abertura dos dados iniciais referentes aos ips
ip_path = "ips.csv"
ip_df = spark.read\
                .format("csv")\
                .option("inferSchema","true")\
                .option("header","true")\
                .load(ip_path)
ip_df.show(10)

+---+--------------+--------------------+
| id|            ip|          user_agent|
+---+--------------+--------------------+
|  1|126.65.243.231|Mozilla/5.0 (Wind...|
|  2| 181.81.197.29|Mozilla/5.0 (X11;...|
|  3|  225.79.10.95|Mozilla/5.0 (Wind...|
|  4| 138.177.78.33|Mozilla/5.0 (Maci...|
|  5|   2.85.122.24|Mozilla/5.0 (Maci...|
|  6| 188.90.71.147|Mozilla/5.0 (Wind...|
|  7| 75.104.245.95|Mozilla/5.0 (Wind...|
|  8|149.11.100.128|Mozilla/5.0 (Wind...|
|  9|201.138.216.30|Mozilla/5.0 (Wind...|
| 10| 206.28.109.87|Mozilla/5.0 (Wind...|
+---+--------------+--------------------+
only showing top 10 rows

In [14]:
#Função com base na API IPWHOIS para obtenção dos dados para enriquecimento da tabela
def ipwhois(ip):
    url = requests.get(f'https://ipwhois.app/json/{ip}')
    json = url.json()
    sucesso = json['success']
    ip = ip
    if sucesso == True:
        regiao = json['region']
        cidade = json['city']
        pais = json['country']
    else:
        regiao = ""
        cidade = ""
        pais = ""
    return ip, regiao, cidade, pais

#Iteração da coluna de ips
data_collect = ip_df.select("ip").rdd.flatMap(lambda x: x).collect()

#Inicialização de novo dataframe com dados provenientes da API IPWHOIS
rdd = [ipwhois(x) for x in data_collect]
newColumns = ["ip", "regiao","cidade","pais"]
new_ip_df = spark.createDataFrame(data=rdd, schema = newColumns)
new_ip_df.printSchema()
new_ip_df.show(truncate=False)

root
 |-- ip: string (nullable = true)
 |-- regiao: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- pais: string (nullable = true)

+---------------+--------------------+-------------+-------------+
|ip             |regiao              |cidade       |pais         |
+---------------+--------------------+-------------+-------------+
|126.65.243.231 |Saitama Prefecture  |Yashio       |Japan        |
|181.81.197.29  |Santa Fe            |Rosario      |Argentina    |
|225.79.10.95   |                    |             |             |
|138.177.78.33  |Pennsylvania        |Whitehall    |United States|
|2.85.122.24    |Macedonia and Thrace|Kondariotissa|Greece       |
|188.90.71.147  |Gelderland          |Brakel       |Netherlands  |
|75.104.245.95  |New York            |New York     |United States|
|149.11.100.128 |Overijssel          |Oldenzaal    |Netherlands  |
|201.138.216.30 |Mexico City         |Mexico City  |Mexico       |
|206.28.109.87  |New York            |New York     |United States|
|102.206.87.165 |Port Louis          |Port Louis   |Mauritius    |
|3.205.136.8    |Illinois            |Chicago      |United States|
|21.144.193.174 |Pennsylvania        |Whitehall    |United States|
|182.234.67.150 |Taoyuan City        |Taoyuan City |Taiwan       |
|111.163.192.214|Tianjin             |Tianjin      |China        |
|162.152.2.252  |Texas               |Dallas       |United States|
|218.131.103.221|Tokyo               |Minato       |Japan        |
|245.150.194.22 |                    |             |             |
|246.19.60.43   |                    |             |             |
|32.69.36.180   |New York            |New York     |United States|
+---------------+--------------------+-------------+-------------+
only showing top 20 rows

In [15]:
#Join dos dataframes referentes a ip
IP_df = ip_df.join(new_ip_df, on=['ip'], how='inner').drop('ip')

#Novo parquet na Layer Silver referente a tabela de ips enriquecida
IP_df.select("*").write.format("parquet").save("ml/silver/ip_parquet")

In [16]:
IP_df.show(10)

+---+--------------------+--------------------+-------------+-------------+
| id|          user_agent|              regiao|       cidade|         pais|
+---+--------------------+--------------------+-------------+-------------+
|  1|Mozilla/5.0 (Wind...|  Saitama Prefecture|       Yashio|        Japan|
|  2|Mozilla/5.0 (X11;...|            Santa Fe|      Rosario|    Argentina|
|  3|Mozilla/5.0 (Wind...|                    |             |             |
|  4|Mozilla/5.0 (Maci...|        Pennsylvania|    Whitehall|United States|
|  5|Mozilla/5.0 (Maci...|Macedonia and Thrace|Kondariotissa|       Greece|
|  6|Mozilla/5.0 (Wind...|          Gelderland|       Brakel|  Netherlands|
|  7|Mozilla/5.0 (Wind...|            New York|     New York|United States|
|  8|Mozilla/5.0 (Wind...|          Overijssel|    Oldenzaal|  Netherlands|
|  9|Mozilla/5.0 (Wind...|         Mexico City|  Mexico City|       Mexico|
| 10|Mozilla/5.0 (Wind...|            New York|     New York|United States|
+---+--------------------+--------------------+-------------+-------------+
only showing top 10 rows

Atividade 3: Transformação dos dados

In [29]:

# Agregação de dados das duas tabelas (pedidos e ips) e remoção das colunas de pouca relevância
aggregated_df = request_stats.join(IP_df.withColumnRenamed("id", "id_ip"), on=['id_ip'], how='inner').drop("id_ip").drop("user_agent")

# Path da layer Gold
DELTALAKE_GOLD_PATH = "ml/gold"

# Inicializa a tabela parquet gold com os dados inciais
aggregated_df.write.format('delta').save(DELTALAKE_GOLD_PATH)

# Registra a tabela SQL no banco de dados
spark.sql(f"CREATE TABLE if not exists gold USING delta LOCATION '{DELTALAKE_GOLD_PATH}'")

display(aggregated_df)

DataFrame[id: int, nome_completo: string, email: string, valor_pedido: double, data_pedido: timestamp, tipo_cc: string, regiao: string, cidade: string, pais: string]

In [ ]:
aggregated_df.show(10, vertical=True)

In [28]:
shutil.rmtree("ml/gold")